.breadcrumbs {
  margin-bottom: 20px;
  &__content {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    button {
      background: transparent;
      border: 0;
      cursor: pointer;
      margin-right: 21px;
      padding: 0;
      &:focus-visible {
        outline: none;
      }
    }
  }
}