.menubar {
  background: #111;
  bottom: 0;
  border-radius: 0 0 7px 7px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 9999;
  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 0 0;
    height: 70px;
    margin: 0 auto;
    width: 92%;
    a {
      align-items: center;
      background: transparent;
      border: 0;
      display: flex;
      grid-column: auto;
      justify-content: center;
      margin: 0;
      padding: 0;
      &:focus-visible {
        outline: none;
      }
      &.active {
        span {
          background: #FFC700;
          svg {
            path {
              fill: #111;
            }
          }
        }
      }
      span {
        align-items: center;
        border-radius: 42px;
        display: flex;
        height: 42px;
        justify-content: center;
        width: 42px;
      }
    }
  }
}
