.topfive {
  &__content {
    h2 {
      margin-bottom: 20px;
    }
    .list {
      margin-bottom: 20px;
      overflow-x: hidden;
      &__content {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        column-gap: 20px;
        overflow-x: scroll;
        padding-bottom: 10px;
        width: 100%;
        .item {
          width: 300px;
          &__content {
            figure {
              height: 200px;
            }
            h3 {
              margin-bottom: 4px;
            }
          }
        }
      }
    }
  }
}