body {
  background: #393939;
  font-family: $poppins;
  min-height: 100vh;
}

#root {
  min-height: inherit;
}

.main {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: inherit;
  &__content {
    background: #111111;
    box-sizing: border-box;
    height: 100vh;
    margin: 0 auto;
    padding-top: 28px;
    position: relative;
    width: 100%;
    @include mobile420 {
      border: 1px solid #555;
      border-radius: 7px;
      height: 896px;
      width: 414px;
    }
  }
}

h2 {
  color: white;
  font-size: 30px;
  font-weight: 700;

  span {
    color: #FFC700;
  }
}

.btn {
  &-link {
    align-items: center;
    background: #FFC700;
    border-radius: 14px;
    color: #111;
    display: flex;
    height: 42px;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
}