.discover {
  height: calc(100% - 70px);
  &__content {
    height: 100%;
    margin-left: 16px;
    margin-right: 16px;
    .list {
      &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .item {
          width: calc(50% - 10px);
        }
      }
    }
  }
}